@using CarRepairReport.Extensions
@model IEnumerable<CarRepairReport.Models.ViewModels.ManufacturerVms.ShortManufacturerInfoVm>

@{
    ViewBag.Title = "Manufacturers";
}

<h2>Manufacturers</h2>

<table class="table table-striped table-hover">
    <tr >
        <th class="table-header">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="table-header">
            @Html.DisplayNameFor(model => model.NumberOfParts)
        </th>
        <th class="table-header"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name.ToCapital()
        </td>
        <td>
            @item.NumberOfParts
        </td>
        <td>
            @Html.ActionLink("View", "Manufacturer","Manufacturer", new { name=item.Name }, null) 
        </td>
    </tr>
}

</table>
