@using CarRepairReport.Extensions
@model CarRepairReport.Models.ViewModels.ForumVm.ForumVm


@{
    ViewBag.Title = "Car Repair Report Forum";
}

<div class="row crr-box site-color" style="min-height: 50px;">
    <div class="col col-sm-12">
        commercial banner
    </div>
</div>

<div class="row crr-box site-color margin-me">
    
    @using (Ajax.BeginForm("FilterPosts", "Forum", null, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace,UpdateTargetId = "forum-posts-wrapper" },new {@class = "forum-filter-form"}))
    {
        <div class="col col-sm-2">
            @Html.EditorFor(x => x.FilterVm.Title, new {htmlAttributes = new {@class = "form-control", placeholder= @LR("system.forum.title", Model.LanguageCode) } })
        </div>

        <div class="col col-sm-3">
            @Html.EditorFor(x => x.FilterVm.Content, new { htmlAttributes = new { @class = "form-control", placeholder = @LR("system.forum.content", Model.LanguageCode) } })
        </div>

        <div class="col col-sm-2">
            @Html.EditorFor(x => x.FilterVm.Category, new { htmlAttributes = new { @class = "form-control", placeholder = @LR("system.common.category", Model.LanguageCode) } })
        </div>

        <div class="col col-sm-3">
            @Html.EditorFor(x => x.FilterVm.Tags, new { htmlAttributes = new { @class = "form-control", placeholder = @LR("system.forum.tags", Model.LanguageCode) } })
        </div>

        <div class="col col-sm-2">
            <input class="btn btn-default pull-right" type="submit" name="filter" value="@LR("system.common.filter", Model.LanguageCode).ToString().ToCapital()" />
        </div>
    }

</div>

<div class="row">
    
    <div class="col col-xs-2">
        
        @Html.Action("GetCategoryAndTags")

    </div>

    <div class="col col-xs-10">
        <div class="row crr-box">
            <div class="col col-sm-12">
                
                @if (this.User.Identity.IsAuthenticated)
                {
                    <div class="row">
                        <div class="col col-sm-12">
                            @Html.ActionLink(LR("system.common.create", Model.LanguageCode).ToString().ToCapital(), "CreatePost", null, new {@class = "btn btn-default"})
                        </div>
                    </div>
                }
                
                <div class="row">
                    <div id="forum-posts-wrapper" class="col col-sm-12">
                        @Html.Action("Posts")
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>



