@using System.Web.Mvc.Ajax
@using System.Web.Mvc
@using CarRepairReport.Extensions.HtmlHelpers

@{
    var cookie = this.Request.Cookies["CRRLang"];
    var langCode = "en";

    if (cookie != null)
    {
        langCode = cookie.Value;
    }

    var currentLang = Html.LangValue("system.common.currentlanguage", langCode).ToString();
}

@section Scripts
{
@*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>*@
}

<div id="nav-lang-menu" class="navbar-collapse collapse pull-right">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("EN", "Set", "Language", new {area = "", langValue = "en", returnUrl = this.Request.RawUrl }, null)</li>
        <li>@Html.ActionLink("|","")</li>
        <li>@Html.ActionLink("БГ", "Set", "Language", new { area = "", langValue = "bg", returnUrl = this.Request.RawUrl }, null)</li>
        <li>@Html.ActionLink("|", "")</li>
        <li>@Html.ActionLink("РУ", "Set", "Language", new { area = "", langValue = "ru", returnUrl = this.Request.RawUrl }, null)</li>
    </ul>
</div>
