@using CarRepairReport.Extensions
@using CarRepairReport.Extensions.HtmlHelpers
@model IEnumerable<CarRepairReport.Models.ViewModels.ServiceVms.ShortServiceVm>

@{
    ViewBag.Title = "_TopVehicleServices";

    var cookie = this.Request.Cookies["CRRLang"];
    var langCode = "en";

    if (cookie != null)
    {
        langCode = cookie.Value;
    }

    var currentLang = Html.LangValue("system.common.currentlanguage", langCode).ToString();

}

<table class="tab-content table table-hover table-striped">
    <thead>
        <tr class="table-header">
            <th class="col-sm-5"></th>
            <th class="col-sm-2">@LR("system.common.repairedparts", langCode).ToString().ToCapital()</th>
            <th class="col-sm-2">@LR("system.common.rating", langCode).ToString().ToCapital()</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var service in Model)
        {
            <tr>
                <td class="col-sm-5">@Html.ActionLink(service.Name.ToCapital(), "VehicleService", "VehicleService", new { id = service.Id }, null)</td>
                <td class="col-sm-2">@service.RepairedParts</td>
                <td class="col-sm-2">@service.Rating</td>
            </tr>
        }
        
    </tbody>
</table>

