@using CarRepairReport.Extensions
@using CarRepairReport.Models.Models.LanguageModels
@model CarRepairReport.Models.ViewModels.ServiceVms.VehicleServiceVm

@{
    ViewBag.Title = "Vehicle Service";

    var groupByMake = Model.CarParts.GroupBy(x => x.CarMake.ToCapital());

    int ba = 0;
}


<div class="service-wrapper">

    @if (Model.HasUserManagementRights)
    {
        <div class="row">
            <div class="col-sm-12 text-right">
                @Html.ActionLink("Manage", "Manage", new {id= Model.Id}, new { @class = "btn btn-default" })
                <br />
            </div>
        </div>
    }
    
    <div class="row">
        <div class="col col-sm-3 logo-img text-center">
            <img src="@Model.LogoUrl" alt="Vehicle Service Logo" />
            <h3>@Model.Name.ToCapital()</h3>
        </div>

        <div class="col col-sm-6 service-description">
            @Model.Description
        </div>

        <div class="col col-sm-3 text-right">
            <div class="row">
                <div class="col col-sm-12">
                    <h4>Address</h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12">
                    @Model.StreetName.ToCapital()
                </div>

            </div>
            <div class="row">
                <div class="col col-sm-12">
                    @Model.CityName.ToCapital()
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12">
                    @Model.CountryName.ToCapital()
                </div>
            </div>

            <br />

            <div class="row text-muted">
                <div class="col col-sm-12">
                    @Model.WorkingTime
                </div>
            </div>

            <div class="row text-muted">
                <div class="col col-sm-12 text-right">
                    @Html.DisplayNameFor(x => x.WorkingDays)
                </div>
            </div>

            <div class="row text-muted">
                <div class="col col-sm-12">
                    @Model.WorkingDays
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-3 site-color vs-short-info">
            <div class="row">
                <div class="col-sm-12">
                    Rating: <span id="current-service-rating">@Model.Rating</span> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Total serviced parts: @Model.CarParts.Count
                </div>
            </div>

            @foreach (var group in groupByMake)
            {
                <div class="row">
                    <div class="col-sm-12">
                        @group.Key: @group.Count() parts
                    </div>
                </div>
            }
            
            @Html.Action("VehicleServiceVote", @Model.Id)

        </div>
        <div class="col col-sm-9">
            <div class="row service-promotions">
                <div class="col-sm-12 preview-promotion-content">
                    
                    @Html.Raw(Model.PromotionContent)

                    @*@Html.TextAreaFor(x => x.PromotionContent, new {id = "preview-promotion-content"})*@
                </div>
            </div>

            <div class="row service-comments">
                <div class="col-sm-12">
                    
                    @Html.Action("GetComments", @Model.Id)

                </div>
            </div>
        </div>
    </div>
</div>
