@using CarRepairReport.Extensions.HtmlHelpers
@model CarRepairReport.Models.ViewModels.UserVms.UserProfileVm

@{
    ViewBag.Title = "Profile";
}

<div class="profile-personal-data profile-data">
    <div class="row flex">
        <div class="col col-sm-2 font-lg">
            Profile
        </div>
        <div class="col col-sm-3">
            @Html.ActionLink(Html.LangValue("system.common.edit", Model.LanguageCode).ToString(), "Edit", null, new { @class = "btn btn-info" })
        </div>
        @if (!Model.IsVehicleServiceOwner)
        {
            <div class="col col-sm-2 col-sm-offset-5">
                @Html.ActionLink(Html.LangValue("Register Car Service", Model.LanguageCode).ToString(), "RegisterCarService", null, new { @class = "btn btn-info" })
            </div>
        }
        
    </div> 
    <hr />

    <div class="container">
        
        <div class="row">
            
            <div class="col col-sm-3 logo-img text-center">
                <img src="@Model.ImageUrl" alt="Profile image" />
            </div>

            <div class="col col-sm-6">
                
                <div class="row">
                    <div class="col col-sm-6">
                        <h3>@Model.FirstName @Model.LastName</h3>
                    </div>
                </div>
                
                @if (!string.IsNullOrWhiteSpace(Model.CityName))
                {
                    <div class="row">
                        <div class="col col-sm-6">
                            <h4>@Model.CityName, @Model.CountryName</h4>
                        </div>
                    </div>
                }
                
            </div>

            <div class="col col-sm-6">
                @*<div class="pull-right">@Html.ActionLink(Html.LangValue("system.common.edit", Model.LanguageCode).ToString(), "Edit", null, new { @class = "btn btn-primary" })</div>*@

            </div>
        </div>
        
    </div>
</div>
<div class="profile-personal-cars profile-data">
    
    <div class="row flex">
        <div class="col col-sm-2 font-lg">
            Cars
        </div>
        <div class="col col-sm-3">
            @Html.ActionLink("Add", "Add", "Car", null, new { @class = "btn btn-info" })
        </div>
    </div>
    <hr />
    @if (Model.Cars.Any())
    {
        <table class="table table-striped table-hover">
            <thead class="table-header">
            <th>@Html.LabelFor(x => x.Cars.FirstOrDefault().Model)</th>
            <th>@Html.LabelFor(x => x.Cars.FirstOrDefault().Make)</th>
            <th>@Html.LabelFor(x => x.Cars.FirstOrDefault().FuelType)</th>
            <th>@Html.LabelFor(x => x.Cars.FirstOrDefault().RunningDistance)</th>
            <th>@Html.LabelFor(x => x.Cars.FirstOrDefault().NumberOfServices)</th>
            <th>@Html.LabelFor(x => x.Cars.FirstOrDefault().NumberOfCosts)</th>
            <th>@Html.LabelFor(x=> x.Cars.FirstOrDefault().TotalSpent)</th>
            <th></th>
            </thead>
            <tbody>
            
            @foreach (var car in Model.Cars)
            {
                <tr>
                    <td>@car.Model</td>
                    <td>@car.Make</td>
                    <td>@car.FuelType.ToString()</td>
                    <td>@car.RunningDistance</td>
                    <td>@car.NumberOfServices</td>
                    <td>@car.NumberOfCosts</td>
                    <td>@car.TotalSpent.ToString("F2")</td>
                    <td>@Html.ActionLink("Remove","Remove","Car",new {carId = car.Id}, htmlAttributes:new {@class ="btn btn-danger"})</td> @*| @Html.ActionLink("Edit", "Remove", "Car", null, htmlAttributes: new { @class = "btn btn-warning" })</td>*@
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total spend:</td>
                    <td>@Model.Cars.Sum(x => x.TotalSpent).ToString("F2")</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <div>You still don't register a car!</div>
    }

</div>
